page-pipeline {
    .scroll-content{
        overflow-y: scroll;
    }
    .filter{
        background-image: url('../assets/img/pipeline/PIPESfilter.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
        margin: 5px 5px 10px 5px;
    }
    .add{
        background-image: url('../assets/img/pipeline/PIPESadd.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        margin: 5px 5px 10px 5px;
    }
    .downArrow{
        background-image: url('../assets/img/pipeline/PIPESarrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        margin: 10% 5px 10px 10px;
    }
    .titleFlex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dimmer{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -50;
        background: rgba(0,0,0,0);
    }
    .dimmerActive{
        z-index: 2;
        background: rgba(0,0,0,.5);
    }
    .slides{
        height: 100%;
        overflow-y: scroll;
    }
    .prospects{
        position: absolute;
        top: 55px;
        width: 100%;
        font-family: 'brandon-medium';
        letter-spacing: .7px;
    }
    .arrow{
        display: flex;
        width: 100%;
        margin: 5px 0 5px 0;
        position: fixed;
        top: 0%;
        height: 50px;
        align-items: center;
        background: white;
        z-index: 2;
    }
    .position{
        top: 0%;
        display: block;
        align-items: center;
        width: 95%;
        height: 70%;
        background: $bluish;
        padding-left: 3px;
        font-size: 25px;
        color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .leftBump{
        height: 85%;
        width: 2%;
        margin: 1px;
        background-color: $bluish;
    }
    .rightBump{
        height: 85%;
        width: 2%;
        margin: 1px;
        background-color: $bluish;
    }
    .line{
        height: 1px;
        width: 100%;
        background: $greyy;
    }
    .prospect {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
        color: $purp;
    }
    .smallCircle {
        height: 10px;
        width: 10px;
        background: $dark;
        border-radius: 50%;
    }
    .bottomPipe{
        display: flex;
        position: fixed;
        justify-content: center;
        bottom: 2%;
        z-index: 1;
        width: 100%;
    }
    .pipeSection{
        width: 22%;
    }
    .miniPipe{
        display: flex;
        height: 30px;
        align-items: center;
    }
    .bumper{
        background-color: $greyy;
        height: 40px;
        width: 9%;
        margin: 1px;
    }
    .letter{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $greyy;
        height: 100%;
        width: 80%;
    }
    .description{
        text-align: center;
    }
    .bluish{
        background-color: $bluish;
    }
}