<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="pipelineChoose()">
      <div class="titleFlex">
        {{title}} <div class="downArrow"></div>
      </div>
    </ion-title>
    <ion-buttons end>
      <div (click)="openAddModal()">
        <div class="add"></div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{pager:true}" #pipeSlider (ionSlideDidChange)="slideChange()">
    <ion-slide *ngFor="let slide of slides" class="slides">
      <div class="arrow">
        <div class="leftBump"></div>
        <div class="position">{{slide.name}} ({{slide.number}})</div>
        <div class="rightBump"></div>
      </div>
      <div class="prospects">
        <div *ngFor="let prospect of prospects | filter: slide" (click)="openModal(prospect.contact)">
        <div class="prospect">{{prospect.contact.first_name}} {{prospect.contact.last_name}}<div class="smallCircle" [style.background-color]="dotColor(prospect.contact.actions_status)"></div></div>
        <div class="line"></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="bottomPipe">
        <div class="pipeSection" (click)="goToSlide(0); pipeColor(0)">
          <div class="miniPipe">
            <div class="bumper" [ngClass]="{'bluish': prepare}"></div>
            <div class="letter" [ngClass]="{'bluish': prepare}">P</div>
            <div class="bumper" [ngClass]="{'bluish': prepare}"></div>
          </div>
          <div class="description">Prepare</div>
        </div>
        <div class="pipeSection" (click)="goToSlide(3); pipeColor(1)">
          <div class="miniPipe">
            <div class="bumper" [ngClass]="{'bluish': invite}"></div>
            <div class="letter" [ngClass]="{'bluish': invite}">I</div>
            <div class="bumper" [ngClass]="{'bluish': invite}"></div>
          </div>
          <div class="description">Invite</div>
        </div>
        <div class="pipeSection" (click)="goToSlide(5); pipeColor(2)">
          <div class="miniPipe">
            <div class="bumper" [ngClass]="{'bluish': present}"></div>
            <div class="letter" [ngClass]="{'bluish': present}">P</div>
            <div class="bumper" [ngClass]="{'bluish': present}"></div>
          </div>
          <div class="description">Present</div>
        </div>
        <div class="pipeSection" (click)="goToSlide(6); pipeColor(3)">
          <div class="miniPipe">
            <div class="bumper" [ngClass]="{'bluish': enroll}"></div>
            <div class="letter" [ngClass]="{'bluish': enroll}">E</div>
            <div class="bumper" [ngClass]="{'bluish': enroll}"></div>
          </div>
          <div class="description">Enroll</div>
        </div>
        <div class="pipeSection" (click)="goToSlide(); pipeColor(4)">
          <div class="miniPipe">
            <div class="bumper" [ngClass]="{'bluish': support}"></div>
            <div class="letter" [ngClass]="{'bluish': support}">S</div>
            <div class="bumper" [ngClass]="{'bluish': support}"></div>
          </div>
          <div class="description">Support</div>
        </div>
      </div>
</ion-content>