<ion-header>
  <ion-navbar>
    <ion-buttons>
      <div (click)="openAddModal()">
        <div class="add"></div>
      </div>
    </ion-buttons>
    <ion-title (click)="pipelineChoose()">
      <div class="titleFlex">
        {{title}} <div class="downArrow"></div>
      </div>
    </ion-title>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{pager:true}" #pipeSlider (ionSlideDidChange)="slideChange()">
    <ion-slide *ngFor="let slide of slides" class="slides">
      <div class="arrow">
        <div class="position">{{slide.name}} ({{slide.number}})</div>
        <div class="rightArrow"></div>
      </div>
      <div class="prospects">
        <div *ngFor="let prospect of prospects | filter: slide" (click)="openModal(prospect.contact)">
        <div class="prospect">{{prospect.contact.first_name}} {{prospect.contact.last_name}}<div class="smallCircle" [style.background-color]="dotColor(prospect.contact.actions_status)"></div></div>
        <div class="line"></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>