page-market-drip{
    .next{
        font-size: 17px;
        color: white        
    }
    .scroll-content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .emailBox{
        height: 150px;
        width: 45%;
        border-radius: 15px;
        border: 2px solid grey;
        background: lightgrey;
    }
}