page-choose-action-contacts{
    .scroll-content{
        overflow-y: scroll;
    }
    .searchBar{
        width: 96%;
        height: 35px;
        margin: 2% 2% 0 2%;
        border-radius: 5px;
        border: 3px solid lightgrey;
        padding: 5px;
    }
}