page-specific-Prospect {
    .scroll-content{
        overflow-y: scroll;
    }
    //ICONS
    .iconList{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20%;
        width: 100%;
        margin-top: 15px;
    }
    .labelIcon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .customer{
        background-image: url('../assets/img/newIcons/Asset 70.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .sharer{
        background-image: url('../assets/img/newIcons/Asset 74.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .builder{
        background-image: url('../assets/img/newIcons/Asset 76.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .team{
        background-image: url('../assets/img/newIcons/Asset 78.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .sharerOn{
        background-image: url('../assets/img/newIcons/Asset 75.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .customerOn{
        background-image: url('../assets/img/newIcons/Asset 71.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .builderOn{
        background-image: url('../assets/img/newIcons/Asset 77.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .teamOn{
        background-image: url('../assets/img/newIcons/Asset 79.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
    .labels{
        margin-top: 8px;
        color: $greyy;
        font: 100 16px 'junction-light';
    }
    .labelsOn{
        color: $redd;
    }

    //main
    .edit{
        font-size: 20px;
        margin-right: 8px; 
        color: white;
    }
    .topSpecific{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .top {
        font-size: 20px;
        width: 40%;
        margin: 15px 0 15px 0;
    }
    .pipePager{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
    }
    .pagerBar{
        display: flex;
        width: 100%;
        margin-top: 10px; 
        justify-content: center;
    }
    .pagerBox{
        display: flex;
    }
    .pagerFlag{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        margin: 2px;
        background: $greyy;
    }
    .activeFlag{
        height: 9px;
        width: 9px;
        background: $bluish;
    }
    .choosePipe{
        height: 20px;
        color: $purp;
        font: 25px 'brandon-regular';
    }
    .position{
        font-size: 23px;
        font-family: 'brandon-black';
        color: $purp;
        width: 100%;
        margin: 0 0 5px 5px;
    }

    //ACTIONS
    .box{
        margin-top: 40px;
        min-height: 150px;
        width: 100%;
        bottom: 0%;
        border-radius: 5px;
        position: relative;
        padding-bottom: 50px;
    }
    .topBox{
        display: flex;
        height: 30px;
        width: 100%;
        color: $purp;
        font-family: 'brandon-black';
        margin-bottom: 15px;
    }
    .bottomBox{
    }
    .smallBox{
        height: 100%;
        width: 50%;
        background: $dark;
        font: 20px 'junction-regular';
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left{
        transform: translateY(2px);
    }
    .leftBox{
        background: $greyy;
    }
    .rightBox{
        background: $greyy;
    }
    .action{
        display: flex;
        margin: 5px 0 5px 0;
    }
    .taskProspect{
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .dueDate{
        font-size: 18px;
        margin-left: 5px;
    }
    .taskNotes{
        color: grey;
    }
    .actionIcon{
        height: 50px;
        width: 50px;
        font-size: 36px;
        align-self: center;
        text-align: center;
    }
    .statusCircle{
        border-radius: 50%;
        flex-shrink: 0;
        border: 2px solid black;
        height: 25px;
        width: 25px;
        align-self: center;
    }
    .spacing{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .circleButton{
        position: absolute;
        top: -15%;
        left: calc(50% - 25px);
        height: 70px;
        width: 50px;
        background-image: url('../assets/img/newIcons/Asset 67.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    //Slider
    .firstSlide{
        width: 25% !important;
    }
    .activeSlide{
        width: 50% !important;
    }
    .slides{
        height: 40px;
    }
    .pipe{
        display: flex;
        align-items: center;
        height: 30px;
    }
    .slideName{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75%;
        width: 90%;
        background-color: $greyy;
        color: white;
        font: 15px 'junction-light';
    }
    .bumper{
        width: 4.5%;
        height: 100%;
        background-color: $greyy;
        margin: 1px;
    }
    .activePipe{
        background-color: $bluish
    }
    //TAGS
    .tagTop{
        display: flex;
        align-items: center;
        margin: 10px 0 10px 5px;
    }
    .tagIcon{
        background-image: url('../assets/img/newIcons/Asset 25.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 60px;
    }
    .tagLabel{
        font: 15px 'junction-light';
        color: $bluish;
    }
    .tags{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    .tag{
        width: 30%;
        font: 15px 'junction-light';
        color: $bluish;
        border: 1px solid $dark;
        border-radius: 15px;
        text-align: center;;
        padding: 1px;
        margin: 5px 0;
    }
}