<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <div (click)="dismiss()">
        <ion-icon name="arrow-back" class="icons"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title>{{contact.first_name}}</ion-title>
    <ion-buttons end>
      <div (click)="openEdit()">
        <div class="edit">EDIT</div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="addProspect">
  <div class="iconList">
      <div class="labelIcon" (click)=" customerOn=true; builderOn=false; sharerOn=false; teamOn=false;">
        <div [ngClass]="{customerOn: customerOn}" class="customer"></div>
        <div class="labels" [ngClass]="{labelsOn: customerOn}">Customer</div>
      </div>
      <div class="labelIcon" (click)=" sharerOn=true; builderOn=false; customerOn=false; teamOn=false;">
        <div [ngClass]="{sharerOn: sharerOn}" class="sharer"></div>
        <div class="labels" [ngClass]="{labelsOn: sharerOn}">Sharer</div>
      </div>
      <div class="labelIcon" (click)=" builderOn=true; sharerOn=false; customerOn=false; teamOn=false;">
        <div [ngClass]="{builderOn: builderOn}" class="builder"></div>
        <div class="labels" [ngClass]="{labelsOn: builderOn}">Builder</div>
      </div>
      <div class="labelIcon" (click)=" teamOn=true; builderOn=false; sharerOn=false; customerOn=false;">
        <div [ngClass]="{teamOn: teamOn}" class="team"></div>
        <div class="labels" [ngClass]="{labelsOn: teamOn}">Team Member</div>
      </div>
    </div>
  <!--<div class="topSpecific">
    <div class="top info">
      <div>
        <strong>Info:</strong>
      </div>
      <div>
        {{contact.phone}}
      </div>
    </div>
    <div class="top group">
      <div>
        <strong>Role:</strong>
      </div>
      <div>
        {{contact.role.name}}
      </div>
    </div>
  </div>-->
  <div class="pipePager">
    <ion-slides #pipeSlider class="choosePipe" #choosePipe slidesPerView="3">
      <ion-slide>
      </ion-slide>
       <ion-slide *ngFor="let slide of slides" class="slides">
            <div class="pipe">
              <div class="bumper" [ngClass]="{activePipe: getIndex(slide)}"></div>
              <div class="slideName" [ngClass]="{activePipe: getIndex(slide)}">{{slide.name}}</div>
              <div class="bumper" [ngClass]="{activePipe: getIndex(slide)}"></div>
            </div>
      </ion-slide>
      <ion-slide>
      </ion-slide>
    </ion-slides>
    <div class="pagerBar">
      <div *ngFor="let slide of slides" class="pagerBox">
        <div [ngClass]="{activeFlag: getIndex(slide)}" class="pagerFlag"></div>
      </div>
    </div>
  </div>
  <!--<ion-slides #pipeSlider class="choosePipe" #choosePipe (ionSlideDidChange)="slideChange()">
    <ion-slide *ngFor="let slide of slides" class="slides">
      <div class="slideName">{{slide.name}}</div>
    </ion-slide>
  </ion-slides>-->
  <div>TAGs</div>
  <div class="box">
    <div class="topBox">
      <div class="smallBox" [ngClass]="{leftBox: leftBox}" (click)="leftBox=false; rightBox = true; complete = 0;">
        <div class="left">
          Actions
        </div>
      </div>
      <div class="smallBox" [ngClass]="{rightBox: rightBox}" (click)="rightBox=false; leftBox = true; complete = 1">
        <div class="left">
          History
        </div>
      </div>
    </div>
    <div class="bottomBox">
      <div *ngFor="let action of actions | actionFilter: complete" class="action">
        <div class="{{classCheck(action)}}"></div>
        <div class="spacing">
          <div (click)="specificAction(action)" class="openNewAction">
            <div class="taskProspect">
              {{action.action_type.name}} {{prospect.first_name}}: 
                <div class="dueDate">
                  {{action.due_date}}
                </div>
              </div>
            <div class="taskNotes">{{action.notes}}</div>
          </div>
          <div class="statusCircle" (click)="completeAction(action.id, action.complete)" [style.background]="activeCheck(action.complete)"></div>
        </div>
      </div>
    </div>
      <div  (click)="addAction()" color="primary" class="circleButton">
      </div>
  </div>
</ion-content>