page-add-contact{
    input{
        height: 100%;
        width: 65%;
        margin: 2px;
        border: 3px solid $greyy;
        padding: 10px;
        background: $greyy;
    }
    .inputSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        width: 100%;
        font: 15px 'junction-light';
        color: $bluish;
    }
    .scroll-content{
        overflow-y: scroll;
    }
    .activeArrow{
        height: 5px;
        width: 5px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: 5px solid $greeny;
    }
    .headerDiv{
        color: white;
    }
    .save, .cancel{
        width: 100px;
    }
    .title{
        text-align: center;
    }
    .inputs{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 25px 15px 15px 15px;
        font-size: 25px;
    }
    .buttons{
        display: flex;
        height: 25%;
        justify-content: space-around;
    }
    .nameChoose{
        width: 65%;
        padding-left: 0 !important;
        height: 100%;
    }    
    .item-inner{
        padding: 0 5px 0 10px !important;
        border: 0.55px solid $greyy;
        background-color: $greyy;
    }
    //pager
    .slides{
        height: 40px;
    }
    .pipe{
        display: flex;
        align-items: center;
        height: 30px;
    }
    .slideName{
        height: 75%;
        width: 90%;
        background-color: $greyy;
    }
    .bumper{
        width: 4.5%;
        height: 100%;
        background-color: $greyy;
        margin: 1px;
    }
    .activePipe{
        background-color: $bluish
    }
    .pagerBar{
        display: flex;
        width: 100%;
        margin-top: 10px; 
        justify-content: center;
    }
    .pagerBox{
        display: flex;
    }
    .pagerFlag{
        height: 8px;
        width: 15px;
        background: #f1f1f1;
        border-top: 5px solid #f1f1f1;
        border-bottom: 5px solid #f1f1f1;
        border-left: 3px solid white;
    }
    .pagerArrow{
        height: 5px;
        width: 5px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: 5px solid #f1f1f1;
    }
    .activeFlag{
        height: 8px;
        width: 15px;
        background: #f1f1f1;
        border-top: 5px solid lightgreen;
        border-bottom: 5px solid lightgreen;
        border-left: 3px solid white;
    }
    .activeArrow{
        height: 5px;
        width: 5px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        border-left: 5px solid lightgreen;
    }
    .choosePipe{
        //height: 20px;
    }
    .position{
        font-size: 23px;
        width: 100%;
        margin-bottom: 5px;
    }
}