<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <div (click)="dismiss()">
        <div class="headerDiv">CANCEL</div>
      </div>
    </ion-buttons>
    <ion-title>New Contact</ion-title>
    <ion-buttons end>
      <div (click)="addContact(contact)">
        <div class="headerDiv">SAVE</div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="iconList">
      <div class="labelIcon" (click)=" customerOn=true; builderOn=false; sharerOn=false; teamOn=false; contact.role=2">
        <div [ngClass]="{customerOn: customerOn}" class="customer"></div>
        <div class="labels" [ngClass]="{labelsOn: customerOn}">Customer</div>
      </div>
      <div class="labelIcon" (click)=" sharerOn=true; builderOn=false; customerOn=false; teamOn=false;  contact.role=3">
        <div [ngClass]="{sharerOn: sharerOn}" class="sharer"></div>
        <div class="labels" [ngClass]="{labelsOn: sharerOn}">Sharer</div>
      </div>
      <div class="labelIcon" (click)=" builderOn=true; sharerOn=false; customerOn=false; teamOn=false; contact.role = 1">
        <div [ngClass]="{builderOn: builderOn}" class="builder"></div>
        <div class="labels" [ngClass]="{labelsOn: builderOn}">Builder</div>
      </div>
      <!--<div class="labelIcon" (click)=" teamOn=true; builderOn=false; sharerOn=false; customerOn=false;">
        <div [ngClass]="{teamOn: teamOn}" class="team"></div>
        <div class="labels" [ngClass]="{labelsOn: teamOn}">Team Member</div>
      </div>-->
    </div>
    <div class="inputs">
      <div class="inputSection">
        <div>First Name:</div>
        <input type="text" required [(ngModel)]="contact.first_name">
      </div>
      <div class="inputSection">
        <div>Last Name:</div>
        <input type="text" required [(ngModel)]="contact.last_name">
      </div>
      <div class="inputSection">
        <div>Mobile:</div>
        <input type="tel" required [(ngModel)]="contact.phone">
      </div>
      <div class="inputSection">
        <div>Email:</div>
        <input type="email" required [(ngModel)]="contact.email">
      </div>
      <div>
        <ion-slides #pipeSlider class="choosePipe" #choosePipe slidesPerView="3" (ionSlideDidChange)="setPipe()">
          <ion-slide>
          </ion-slide>
          <ion-slide *ngFor="let slide of slides" class="slides">
            <div class="pipe">
              <div class="bumper" [ngClass]="{activePipe: getIndex(slide)}"></div>
              <div class="slideName" [ngClass]="{activePipe: getIndex(slide)}">{{slide.name}}</div>
              <div class="bumper" [ngClass]="{activePipe: getIndex(slide)}"></div>
            </div>
          </ion-slide>
          <ion-slide>
          </ion-slide>
        </ion-slides>
        <!--<div class="pagerBar">
          <div *ngFor="let slide of slides" class="pagerBox">
            <div [ngClass]="{activeFlag: getIndex(slide)}" class="pagerFlag"></div>
            <div class="pagerArrow" [ngClass]="{activeArrow: getIndex(slide)}"></div>
          </div>
        </div>-->
      </div>
    </div>
    <div class="tags">
      <div class="tag" *ngFor="let t of tags" [ngClass]="{tagOn: t.on}" (click)="t.on = !t.on; tag(tags)">{{t.name}}</div>
    </div>
    <div class="buttons">
      <button class="cancel" ion-button (click)="log()">CANCEL</button>
      <button class="save" ion-button (click)="addContact(contact)">SAVE</button>
    </div>
</ion-content>